

$clr-bg-main:rgb(9,9,9);
$clr-bg-second:rgb(27,27,27);

$clr-main:rgb(222, 222, 222);
$clr-border:rgb(37, 35, 35);

$clr-second:#d6b4ff;

$clr-hero:rgba(0, 23, 90, 0.657);
$clr-confirm:rgb(43, 142, 223);
$clr-like:#3B5998;

$clr-second-op:rgba(194, 145, 253, 0.507);
$padding-base:calc(20px + 220 * ((100vw - 700px)/ 1220));



//Brands Colors

$clr-face:#4267B2;