.room-wrapper{
    padding-bottom: 20px;
}
.room-details-container{
    display:grid;
    grid-template-columns:repeat(10,1fr);
    grid-template-rows: 60px repeat(9,1fr);
    height: 92vh;
    grid-gap: 10px;
    color: $clr-second;

    .details-header,.social-box,.admins-box{
        padding: 0px 20px;
    }
                          
    .details-header{
        height: 60px;
        width: 100%;
        background-color: $clr-bg-second;
        grid-area: 1/1/2/11;
        font-size: 0.9em;
        overflow: hidden;
        h3{
            font-family: mont-med,lato-reg,sans-serif;
            max-width: 40%;

        }
        .header-info{
            & > div {
                margin-right: 30px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            .info-icon{
                margin-left: 10px;
                &.views{
                    color: $clr-main;
                }
                &.like{
                    color: $clr-main;
                }
                &.liked{
                    color: $clr-main;
                }
            }
        }
        .add-btn{
            padding: 10px;
            background-color: $clr-hero;
            color: $clr-main;
            font-size: 0.75em;
            border-radius: 20px;
            width: 100px;
            text-align: center;
            margin-right: 50px;
        }
    }
    .chat{
        background-color: $clr-bg-second;
        grid-area: 3/1/11/7;
        &.open-search-tab{
        grid-area: 3/1/6/7;
        display: flex;
        flex-direction: column;
            .output{
                width: 100%;
            }
            .chat-form{
                height: 35px;
            }
        }
    }
    .music-player{
        background-color: $clr-bg-second;
        grid-area: 2/7/6/11;
    }
    .playlist{
        background-color: $clr-bg-second;
        grid-area: 6/7/11/11;
    }
    .social-box{
        background-color: $clr-bg-second;
        grid-area: 2/1/3/5;
    }
    .admins-box{
        background-color: $clr-bg-second;
        grid-area: 2/5/3/7;
    }
    .action-box-mobile{
        display: none;
    }
}


.profile-img{
    height: 30px;
    width: 30px;
    border-radius: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    border:1px solid $clr-second;
    &:not(:first-child){
        margin-left: -10px;
    }
    &.profile-count{
       @include memebersCount
    }
}

.tag{
    font-size: 0.7em;
    margin: 5px 0px;
    letter-spacing: 0.5px;

}



.header-container{
    height: 50px;
    margin: 0px;
    border-bottom: 2px solid black;
    @include padding-left-base;

    h2{
        margin: 0px;
        font-size: 1.2em;
    }
}

//Messagebox
.el-message,.el-message-box{
    z-index: 10000 !important;
}
.el-message.is-closable .el-message__content {
    padding-right: 40px !important;
}

.el-message--info .el-message__content{
        color: black !important;
        font-size: 13px !important;
}



//Media Of All Components Inside the parent component Roomdetails!
// (include mixins)

@media (max-width:730px){
    .room-details-container{
        .music-player{
            grid-area: 2/1/5/6;
        }
        .playlist{
            grid-area: 2/6/6/11;
            //Mixin Style ....
            .header-container, .video-box{
                padding-left: 8px;
            }
            .header-container{
                h2{
                    font-size: 1rem;
                }
            }
            .video-box{
                height: 50px;
                font-size: 0.65rem;
                .video-img{
                    min-width: 65px;
                }
            }
        }
        .social-box{
            grid-area: 5/1/6/4;
        }
        .admins-box{
            grid-area: 5/4/6/6;
        }
        .admins-box, .social-box{
            padding: 0px 10px;
        }

        .chat{
            grid-area: 6/1/11/11;
            display: flex;
            flex-direction: column;
            &.open-search-tab{
                display: none;
            }
            .output{
                height: auto;
                flex-grow: 1;
            }
            .chat-form{
                height: 40px;
            }
        }
        .search-container{
            grid-area: 6/1/11/11;
            &.open-search-tab{
                grid-area: 6/1/11/11;
            }
        }
    }
}

@media (max-width:630px){
    .room-wrapper.base-padding{
        padding: 0px;
    }
    .el-message{
        width: 100vw;
        min-height: 50px;
    }
    .el-message-box{
        width: 100vw !important;
    }
}


@media (max-width:530px){

   .room-wrapper.base-padding{
       background-color: $clr-bg-second;
       .room-details-container, .room-details-container > *{
           background-color: $clr-bg-main;
       }
       .room-details-container{
            grid-gap: 0px;
           .details-header{
               padding: 0px 10px;
               border-top: 1px solid $clr-bg-second;
               h3{
                max-width: 55%;
                margin: 0px;
                font-size: 16px;
                text-align: left;
               }
               .btns-box{
                    .header-info{
                        margin-right: 20px;
                        & > div{
                            margin: 0px;
                            &:first-child{
                                margin-right: 10px;
                            }
                            font-size: 11px;
                            .info-icon{
                                margin-left: 5px;
                            }
                        }
                    }
                   .add-btn{
                       display: none;
                   }
               }
           }
           .details-header > *{
                font-family:src-sans-reg, lato-reg ,sans-serif;
           }

            .music-player{
                grid-area: 2/1/5/11;
                border: none;
                visibility: visible;
                    iframe, #player{
                        border:none;
                }
                &.close{
                    visibility: hidden;
                }

            }
            .playlist{
                visibility: hidden;
                &.show{
                    visibility: visible;
                    grid-area: 2/1/5/11;
                    z-index: 1000;
                    border-radius: 0px;
                    .header-container{
                        background-color: $clr-bg-second;
                    }
                    .video-box{
                        background-color: $clr-bg-second;
                        border-bottom: 1px solid black;
                            height: 50px;
                            font-size: 0.65rem;
                            padding: 0px;
                            padding-left: 5px;
                            .video-img{
                                min-width: 65px;
                            }
                    }
                }

            }
            .social-box{
                grid-area: 5/4/6/8;
            }
            .admins-box{
                grid-area: 5/1/6/4;
            }
            .admins-box, .social-box{
                .profile-img{
                    width: 25px;
                    height: 25px;
                    font-size: 10px;
                }
                
            }
            .chat{
                .output{
                    background-image:linear-gradient(rgba(194, 145, 253, 0),rgba(0, 0, 0, 0)), url("https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
                    box-shadow: inset 0 10px 5px -5px $clr-bg-main;
                    border: none;
                    .msg-wrapper{
                        .msg-txt{
                            &:not(:first-child){
                                margin-top: -2px;
                            }
                            padding: 4px 10px;
                            background-color: $clr-main;
                            min-width: 40px;
                            color: black;
                            &::after{
                                border-top: 6px solid $clr-main;
                            }
                        }
                    }
                }
                .chat-form{
                    button{
                        width: auto;
                        padding: 0px 15px;
                        border-radius: 0px 10px 10px 0px;
                    }
                    .icons-container{
                        .icons-box{
                            width: 100%;
                            justify-content: space-evenly;
                            .icon-image{
                                font-size: 14px;
                                margin-right: 0px;
                                
                            }
                        }
                    }
                }
                    .msg-wrapper{
        .msg-txt{
            position: relative;
            padding: 7px 10px;
            background-color: $clr-second;
            text-align: left;
            min-width: 50px;
            color: black;
            font-weight: bold;
            border-radius: 10px;
            margin-left: 30px;
            &::after{
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-top: 16px solid $clr-second;
                border-left: 8px solid transparent;
                border-right:5px solid transparent;
                top: 0;
                left: -4px;
            }
        }
    }
            }
            .action-box-mobile{
                display: flex;
                grid-area: 5/8/6/11;
                span{
                    cursor: pointer;
                    font-size: 14px;
                    padding: 5px 8px;
                    border:1px solid $clr-second-op;
                    border-radius: 5px;
                }
            }
            .search-container.open-search-tab{
                border-top: 1px solid $clr-bg-second;
                .header-container{
                    border-bottom: 2px solid $clr-bg-second;
                }
                .video-box{
                    border-bottom: 1px solid $clr-bg-second;
                        height: 50px;
                        font-size: 0.65rem;
                        padding-right: 8px;
                        .video-img{
                            min-width: 65px;
                        }
                }
            }

            .playlist, .chat .output{
                &::-webkit-scrollbar {
                    width: 8px;
                  } 
            }
        }
   }
}